h1 {
    text-align: center;
}
h3 {
    text-transform: uppercase;
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    font-size: 20px;
  }
  
  
  h3 span { 
     background:#fff; 
     padding:0 10px; 
  }

  .bolded {
    font-weight: 600;
  }

  .card {
    border: 1.5px solid rgb(27, 27, 27);
    box-shadow: 10px 10px #4d4c4e;
    padding: 20px;
    margin: 20px;
    text-align: center; 
  }

  .today {
      color: rgb(255, 0, 93);
  }

  .project-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .name {
      color: rgb(15, 141, 143);
  }
  @media (max-width: 900px) {
    .project-card {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 400px) {
    .project-card {
        grid-template-columns: 1fr;
    }
}